<div class="site-flex">
    <div class="about-us-contact">
        <div id="content" align="center">
            <email-dialog show-email-dialog="showEmailDialog" contact-name="test" width='750px'>A</email-dialog>
            <!-- begin navigation -->
            <h1>{{title}}</h1>
            <div class="single-col-header">
                <div class="single-col-wrapper">
                    <div id="text">
                        <div class="single-col-header">
                            <div class="titlebar">{{oname}}</div>
                        </div>
                        <div class="about-us-contact-address">
                            <div>{{addressLine}} </div>
                            <div>{{cityLine}} </div>
                            <div>{{phoneLine}} </div>
                            <div>{{faxLine}}</div>
                        </div>
                        <div ng-if="displayPopup" class="email-button-wrapper">
                            <a ng-click="openEmail()" class="email-button"> Send Email to {{onameshort}}</a>
                            <br/>
                        </div>
                        <div ng-if="!displayPopup" class="email-button-wrapper">
                            <a ng-href="mailto:{{contactEmail}}" class="email-button"> Send Email to {{onameshort}}</a>
                        </div>
                        <div>
                            <a href="https://www.google.com/maps/place/120+Charles+St,+Blawnox,+PA+15238/@40.581618,-79.894539,17z/data=!3m1!4b1!4m2!3m1!1s0x8834923dd10c03cf:0xe66d734238845d80"><img src="/Content/app/img/DorseyvilleMap.png" />
                            </a>
                        </div>
                    </div>
                    <div class="about-us-contact-copyright">
                        <p>&copy; 2014 COTRAIC, Inc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
