.site-flex {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding-left: 0;
    margin-left: 0;
}

.wia-contact {
    display: inline-block;
    flex: 1 0 auto;
    vertical-align: top;
    float: right;
    overflow: hidden;
    background: lightsteelblue;
    color: black;
}