.site-flex{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding-left: 0;
    margin-left: 0;
}

.about-us-contact{
    display: inline-block;
    flex: 1 0 auto;
    vertical-align: top;
    float: right;
    overflow-x: hidden;
    background: white;
    color: rgba(60,60,60,0.8);
    font-size: 14px;
}

.single-col-wrapper{

}

.single-col-header{
    background: red;
    height: 25px;
    position: relative;
    Width:500px;
    box-shadow: 5px 5px 5px rgba(60,60,60,0.8);
    border-radius: 15px;
}
.titlebar{
	position:relative;
	top:5px;
    color: #fff;
    float:center;
}
.col{
	position:relative;
	top:15px;
}

.about-us-contact-copyright{
    float: right;
    margin: 60px 20px 0 0;
    font-size: 10px;
    
}

.about-us-contact-address {
float:center;
font-family:sans-serif;

padding:0px;
}

.about-us-contact-address-oname {
font-size:1.1em;
font-weight:700;
}

.email-button-wrapper {
margin:20px;
}

.email-button {
border: 1px outset #141414;
box-shadow: 5px 5px 5px rgba(60,60,60,0.8);
border-radius: 15px;
background: #636363;
text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
color: #fff;
font-size: 1em;
font-weight:500;
font-family: sans-serif;
text-decoration: none;
vertical-align: middle;
display: block;
width: 200px;
text-align: center;
}
.email-button:hover{
cursor: pointer;
background: #595959;
box-shadow: 3px 3px 3px rgba(60,60,60,0.8);
}

.email-button:active{
background: #454545;
box-shadow: 0px 0px 0px rgba(60,60,60,0.8);
}
