.about-us-contact {
font-family:Trebuchet MS;
display:inline-block;
flex:1 0 auto;
vertical-align:top;
float:right;
overflow:hidden;
background:#FFF;
color:#5C5C5C;
}

.about-us-contact-title {
font-family:Trebuchet MS;
font-size:2em;
font-weight:600;
padding:50px;
}

.about-us-contact-form-wrapper {
border:0 solid #000;
width:910px;
padding:20px;
}

.about-us-contact-form-title {
font-family:Trebuchet MS;
font-size:1.5em;
font-weight:600;
padding:20px;
}

.about-us-contact-form-box {
display:flex;
flex-flow:row nowrap;
}

.about-us-contact-form-item {
flex:0 1 auto;
}

.about-us-contact-form-initial {
width:25px;
}

.about-us-contact-form-phone3 {
width:40px;
}

.about-us-contact-form-phone4 {
width:50px;
}

.about-us-contact-form-message {
width:700px;
height:400px;
padding:10px;
}

.about-us-contact-address {
float:center;
font-family:Trebuchet MS;
font-size:.8em;
padding:20px;
}

.about-us-contact-address-oname {
font-size:1.1em;
font-weight:700;
}

.about-us-contact-form-name,.about-us-contact-form-email,.about-us-contact-form-messagesubject {
width:200px;
}
