.about-us {
    flex-direction: column;
    overflow: hidden;
    color: rgba(60, 60, 60, 0.8);
    float: left;
}

.about-us .title-container {
    flex-direction: row;
}

.about-us .title {
    text-align: center;
    width: auto;
    color: rgba(60, 60, 60, 0.9);
}

.about-us .title-left {
    float: left;
    width: 15%;
}

.about-us .title-right {
    float: right;
    width: 15%;
}

.about-us .title-center {
    display: inline-block;
    width: 70%;
}

.about-us .spacer {
    flex: 1 1 auto;
    background: #e8e8e8;
    color: white;
    padding: 10px 10px 10px 10px;
}

.about-us .splash {
    flex: 1 1 auto;
    flex-direction: row;
}

.about-us .splash .column-container {
    flex-direction: column;
    display: inline-block;
    background:#666666;
}

.about-us .splash .column-header {
    flex: 0 1 auto;
    font-size: 20px;
    margin: 10px 10px 0 10px;
    padding: 10px 10px 0 10px;
    background: #E8E8E8;
}

.about-us .splash .column-text {
    flex: 1 1 auto;
    font-size: 16px;
    margin: 0 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background: #E8E8E8;
}

.about-us .splash .column-left {
    float: left;
    width: 33%;
}

.about-us .splash .column-right {
    float: right;
    width: 33%;
}

.about-us .splash .column-center {
    display: inline-block;
    width: 33%;
}

.splash-images{
  margin:50px auto;
  width:500px;
  height:300px;
  overflow:hidden;
  border:10px solid;
  border-top-color:#cc0000;
  border-left-color:#7f0000;
  border-bottom-color:#cc0000;
  border-right-color:#7f0000;
  position:relative;
}
.splash-images img{
 position: absolute;
    <!--max-height: 100%;
    max-width: 100%;-->
 -webkit-animation: slideshow 16s linear infinite;
  animation: slideshow 16s linear infinite;  
}
@-webkit-keyframes slideshow{   
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@keyframes slideshow{   
  25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
} 

.splash-images img:nth-child(4){
    z-index: 4;
    -webkit-animation: slideshow 16s linear 0s infinite;
    animation: slideshow 16s linear 0s infinite;
}
.splash-images img:nth-child(3){
    z-index: 3;
    -webkit-animation: slideshow 16s linear 4s infinite;
    animation: slideshow 16s linear 4s infinite;
}
.splash-images img:nth-child(2){
    z-index: 2;
    -webkit-animation: slideshow 16s linear 8s infinite;
    animation: slideshow 16s linear 8s infinite;
}
.splash-images img:nth-child(1){
    z-index: 1;
    -webkit-animation: slideshow 16s linear 12s infinite;
    animation: slideshow 16s linear 12s infinite;
}