.site-flex {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding-left: 0;
    margin-left: 0;
}
@media(max-width: 1330px){
.pdf {
    position: absolute;
    width: 768px;
    height: 98%;
    border: none;
}
}
@media (min-width: 1331px)
{
.pdf {
    position: absolute;
    width: 60%;
    height: 98%;
    border: none;
    right:250px
}
}