.site-flex {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding-left: 0;
    margin-left: 0;
}

.assistance-programsEldersServices {
    display: inline-block;
    flex: 1 0 auto;
    vertical-align: top;
    float: right;
    overflow: hidden;
    background: none;
    color: rgba(60, 60, 60, 1);
}

.assistance-programsEldersServices .body-text {
    width: 768px;
}

.assistance-programsEldersServices td {
    padding-left: 100px;
    padding-right: 100px;
    border: none;
}