div#wrapper2 li {
    list-style-type: none;
    text-align: center;
}

div#wrapper2 p {
    list-style-type: none;
    text-align: center;
}

div#wrapper2 h1 {
    list-style-type: none;
    text-align: center;
}