.email-dialog-backplane {
	display:flex;
	flex-direction:column;
    position: absolute;
    top: 100;
    left: 0;
    z-index: 3000;
    background: rgba(180, 180, 180, 0.3);
}

.email-dialog-view {
	flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    z-index: 3010;
    background: #E8E8E8;
    color: rgba(60, 60, 60, 0.8);
    border: 2px solid rgba(60, 60, 60, 0.8);
	width:800px;
    border-radius: 5px;
    padding: 5px;
}

.about-us-contact-form-title {
font-family:sans-serif;
font-size:1.5em;
font-weight:600;
padding:20px;
}


.about-us-contact-form-box {
display:flex;
flex-flow:row wrap;
align-items: baseline;
justify-content: center;
}

.about-us-contact-form-item {
flex:1 1 auto;
}

.about-us-contact-form-message {
height:150px;
padding:10px;
}

.about-us-contact-form-name,.about-us-contact-form-email,.about-us-contact-form-messagesubject {
width:200px;
}


