.site-flex{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding-left: 0;
    margin-left: 0;
}

.history-and-purpose{
    display: flex;
    flex: 1 1 auto;
    vertical-align: top;
    overflow: hidden;
    background: none;
    color: rgba(60,60,60,1);
    line-height: 200%;
    font-size: 16px;
}

.history-and-purpose
{
    flex: 1 0 auto;
}