html{
    height: 98%;
    font-family:sans-serif;
    background-color: #ffffff;
}

.container
{
    display:flex;
    flex-direction: row;   
    
}

.navbar
{
    flex 1;
    order: 1;
    width: 275px;
    height: 98%;
    background: rgba(60,60,60,0.8);
    position: absolute;
    z-index: 4;
    
}

body
{
    height: 98%;
    width: auto;
}

@media(min-width: 1331px){
.body-styling {
    display:flex;
    flex: 1 1;
    order: 2;
    font-family: sans-serif;
    background-color: #ffffff;
    height: 98%;
    position:absolute;
    justify-content: center;
    overflow-x: hidden;
    width: 99%;
    }
}

@media(max-width: 1330px){
.body-styling {
    left:290px;
    flex: 1 1;
    order: 2;
    font-family: sans-serif;
    background-color: #ffffff;
    height: 98%;
    position:absolute;
    justify-content:left;
    overflow-x: hidden;
    width: 768px;
    }
}


@media(max-width: 1600px){
.body-text {
    width: 768px;
    }
}

@media(min-width: 1601px){
.body-text {
    width: 1000px;
    
    }
}

@media(min-width: 1800px){
.body-text {
    width: 1200px;
    
    }
}
  
.site-flex {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding-left: 0;
    margin-left: 0;
}