html {
    height: 100%;
    font-family: sans-serif;
    background-color: #ffffff;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
    height: 100%;
}

.body-styling {
    font-family: sans-serif;
    background-color: #ffffff;
    height: 100%;
    max-width: 100%;
    width: 1050px;
    float: right;
    position: absolute;
    padding-left: 275px;
    overflow-x: hidden;
}

.navbar {
    width: 275px;
    height: 100%;
    background: rgba(60, 60, 60, 0.8);
    float: left;
    position: fixed;
    z-index: 4;
}

.site-flex {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding-left: 0;
    margin-left: 0;
    height: 100%;
}