.site-flex {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding-left: 0;
    margin-left: 0;
}

.wiaAmIEligible a {
    color: blue;
}

.wiaAmIEligible td {
    padding-left: 100px;
    padding-right: 100px;
    border: none;
}

.wiaAmIEligible
{
    color: rgba(60,60,60,1.0);   
    line-height: 200%;
    font-size: 16px;
}

.wiaAmIEligible.tab{
    text-indent: 50px;   
}