<div id="wrapper">
    <div id="sidebar-wrapper">
        <div ng-controller="listctrl">
            <ul class="sidebar-nav">
                <li ng-repeat="item in items" ng-click="showChilds($index)">
                    <a>{{item.name}}</a>
                    <ul>
                        <li ng-repeat="subItem in item.subItems" ng-show="item.active" ng-click="showChilds($index)">
                            <a ng-href={ {subItem.link}}>{{subItem.name}}</a>
                            <ul>
                                <li ng-repeat="tItem in subItem.subItems">
                                    <a ng-href={ {tItem.link}>{{tItem.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div>
        [content]
    </div>

</div>